@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}
body{
	padding-right: 0 !important
}

/*Index Header*/
#default_header{
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}
#default_header .jumbotron{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 450px;
	background-image: url(../images/jumbotron_Background.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
}
#default_header .jumbotron>.navbar-inverse{
	background-color: rgba(255,255,255,0.0);
	border-color: rgba(255, 255,255,0.0);
	padding-top: 20px;
}
#default_header .jumbotron>.navbar-inverse .navbar-collapse>ul>li{
	margin-right: 20px;
}
#default_header .jumbotron>.navbar-inverse .navbar-collapse>ul>.login-pfImg{
	width: 50px;
	height: 50px;	
}
#default_header .jumbotron>.navbar-inverse .navbar-collapse>ul>.login-pfImg>img{
	width: 100%;
	border-radius: 50%;
}
#default_header .jumbotron>.navbar-inverse .navbar-collapse>ul>li>button{
	font-size: 15px;
}
#default_header .jumbotron>.navbar-inverse .navbar-collapse>ul>li:first-child>button{
	background-color: rgba(255,255,255,0.0);
	color:white;
}

/*Index Content*/
section{
	background-color: #F6F6F6;
	margin-top: -30px;
}
#indexContent>#searchForm{
	margin-top: -10px;	
}
#indexContent>#searchForm>.form-group{
	width: 100%;
	text-align: center;
}
#indexContent>#searchForm>.form-group>label{
	display: inline;	
}
#indexContent>#searchForm>.form-group>label>img{
	height: 30px;
	margin-bottom: 5px;
}
#indexContent>#searchForm>.form-group>label>#searchWord{
	width: 50%;
	height: 45px;
	display: inline;
}
#indexContent>#midCotainer{
	width:50%;
	height:150px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:50px;
	border-radius:5px;
	border: 0.5px solid grey;
}
/*Common Modal*/
#indexContent .modal-dialog>.modal-content{
	width:400px;
	height:600px;
	margin : 0 auto;
}
#indexContent .modal-dialog>.modal-content>.modal-header{
	border-bottom: none;
}
#indexContent .modal-dialog>.modal-content>.modal-header>h4{
	margin: 0 auto;
	margin-top: 30px;
	text-align:center;
}
#indexContent .modal-dialog>.modal-content>.modal-header>h4:nth-of-type(2){
	margin-top: 50px;
}
#indexContent .modal-dialog>.modal-content>.modal-body .form-group{
	width:95%;
	margin:0 auto;
}
#indexContent .modal-dialog>.modal-content>.modal-body .form-group>input{
	height : 45px;
	background-color:#F6F6F6;
	border: none;
	margin-bottom:10px;
}
#indexContent .modal-dialog>.modal-content>.modal-body .form-group>input[type=submit]{
	margin-top:30px;
	background-color:#F15F5F;
	color:white;
	font-weight: bold;
}
#indexContent .modal-dialog>.modal-content>.modal-body>.info_div>ul{
	list-style-type: none;
}
#indexContent .modal-dialog>.modal-content>.modal-body>.info_div>ul>li{
	float: left;
}
#indexContent .modal-dialog>.modal-content>.modal-body>.info_div>ul>.line{
	border-bottom: 1px solid #e5e5e5;
	width: 40%;
}
#indexContent .modal-dialog>.modal-content>.modal-body>.info_div>ul>li:nth-of-type(2){
	width: 20%;
	margin: 0 auto;
	margin-top: -10px;
	text-align: center;
}

/*Login Modal*/
#indexContent>#loginModal>.modal-dialog>.modal-content{
	width:400px;
	height:600px;
	margin : 0 auto;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body .user-input{
	font-weight: bold;
}

#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body .close{
	position:absolute;
	right: 0;
	margin-top: -45px;
	margin-right: 70px;
	visibility: hidden;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body .okIcon{
	position:absolute;
	right: 0;
	margin-top: -50px;
	margin-right: 25px;
	background-color: #F6F6F6;
	border: none;
	visibility: hidden;
}#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body .okIcon>span{
	color:#00000030;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body .infoMsg{
	height: 30px;
	margin-bottom:10px;
	display: none;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body .infoMsg>span{
	margin-left: 20px;
	font-weight: bold;
	color:#DB0000;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body>.info_div{
	margin-top:30px;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body>.info_div>.info{
	margin:0 auto;
	margin-bottom:20px;
	text-align:center;
}
#indexContent>#loginModal>.modal-dialog>.modal-content>.modal-body>.info_div>.info:nth-of-type(2){
	padding-bottom: 30px;
}

/*Join Modal*/
#indexContent>#joinModal>.modal-dialog>.modal-content{
	width:400px;
	height:650px;
	margin : 0 auto;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .form-group>.agree>#agreeChk{
	display:inline;
	width:20px;
	height:20px;
	border:none;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .form-group>.agree>span:first-of-type {
	margin-left:10px;	
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .form-group>.agree>span:last-of-type {
	display:block;
	margin-left:30px;	
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body>.info_div>.info{
	margin:0 auto;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .close{
	position:absolute;
	right: 0;
	margin-top: -45px;
	margin-right: 70px;
	visibility: hidden;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .okIcon{
	position:absolute;
	right: 0;
	margin-top: -48px;
	margin-right: 27px;
	background-color: #F6F6F6;
	border: none;
	visibility: hidden;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .okIcon>span{
	color:#00000030;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .infoMsg{
	height: 30px;
	margin-top: 5px;
	margin-left: 35px;
	margin-bottom:10px;
	display: none;
}
#indexContent>#joinModal>.modal-dialog>.modal-content>.modal-body .infoMsg>span{
	font-weight: bold;
	color:#DB0000;
}

/*Fixed footer*/
#default_footer{
	width: 100%;
	margin-left: -15px;
}
#default_footer>.footer{
	height: 250px;
}
#default_footer>.footer>div{
	width: 43%;
	height: 30%;
	margin-left: 25%;
}
#default_footer>.footer>div:first-of-type>p{
	padding-top: 20px;
	padding-left: 10px;
}
#default_footer>.footer>div:first-of-type>p>span{
	color:#FF5E00;
	font-weight: bold;
}
#default_footer>.footer>div:last-of-type{
	font-size: 10px;
	font-weight: bold;
}
#default_footer>.footer>div:last-of-type>p{
	padding-left: 10px;
	color:#BDBDBD;
	font-weight: bold;
}
#default_footer>.footer>div:last-of-type>p>span>a{
	color:#5D5D5D;
}
#default_footer>.navbar-fixed-bottom{
	height: 100px;
}
#default_footer>.navbar-fixed-bottom>.container-fluid>.navbar-header{
	margin-top:18px;
	margin-left:25px;
	color:white;
}
#default_footer>.navbar-fixed-bottom>.container-fluid>.navbar-right{
	margin-top:23px;
	margin-right:25px;
}
#default_footer>.navbar-fixed-bottom>.container-fluid>.navbar-right>li:first-of-type{
	margin-right:25px;
}
#default_footer>.navbar-fixed-bottom>.container-fluid>.navbar-right>li:first-of-type>button{
	background-color: rgba(255,255,255,0.0);
	border-color: rgba(255, 255,255,0.0);
	color:white;
}
#default_footer>.navbar-fixed-bottom>.container-fluid>.navbar-right>li>button{
	font-weight: bold;
}


/*Info Modal*/
#indexContent>#msgModal .modal-content{
	text-align: center;
    padding-top: 20px;
    width: 300px;
    height: 150px;
    margin-top: 300px;
    margin-left: -4%;
}
#indexContent>#msgModal .modal-content>.col-md-12:last-child{
	margin-top: 20%;
}







